.about-section {}

.about-img {
    max-width: 90%;
    border-radius: 18px;
}

.about-title {
    font-size: 2rem;
    font-weight: bold;
    color: #0074D9;
    letter-spacing: 1px;
}

.about-text {
    font-size: 1.15rem;
    color: #222;
    line-height: 2.1;
    white-space: pre-line;
}

.about-us-heading {
    font-size: 2.2rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
    letter-spacing: 1.5px;
}